<!-- IF S_AJAX_REQUEST -->
<!-- ELSE -->
<!-- INCLUDE overall_header.html -->
<li data-role="list-divider">{MESSAGE_TITLE}</li>
<li>
<div>
{MESSAGE_TEXT}
</div>
</li>
<li>
<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
<fieldset data-role="controlgroup">
<input type="submit" name="confirm" value="{L_YES}" data-theme="a" />
<input type="submit" name="cancel" value="{L_NO}" data-theme="a" />
</fieldset>
{S_HIDDEN_FIELDS}
</form>
</li>
<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->