<div data-role="panel" id="m-panel" data-display="overlay">
<ul data-role="listview">
<li data-role="list-divider">{L_OPTIONS}</li>
<!-- IF S_REGISTERED_USER -->
<!-- IF S_DISPLAY_PM -->
<li>
<a href="{U_PRIVATEMSGS}" rel="external">{L_PRIVATE_MESSAGES} [ {PRIVATE_MESSAGE_COUNT} ]</a>
</li>
<!-- ENDIF -->
<!-- ELSE -->
<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
<li>
<a href="{U_REGISTER}" rel="external">{L_REGISTER}</a>
</li>
<!-- ENDIF -->
<!-- ENDIF -->
<li>
<a href="{U_LOGIN_LOGOUT}" rel="external">{L_LOGIN_LOGOUT}</a>
</li>
<!-- IF S_DISPLAY_SEARCH -->
<!-- IF S_REGISTERED_USER -->
<li>
<a href="{U_SEARCH_SELF}" rel="external">{L_SEARCH_SELF}</a>
</li>
<!-- ENDIF -->
<!-- IF S_USER_LOGGED_IN -->
<li>
<a href="{U_SEARCH_NEW}" rel="external">{L_SEARCH_NEW}</a>
</li>
<!-- ENDIF -->
<!-- IF S_LOAD_UNREADS --> 
<li>
<a href="{U_SEARCH_UNREAD}" rel="external">{L_SEARCH_UNREAD}</a>
</li>
<!-- ENDIF -->
<li>
<a href="{U_SEARCH_UNANSWERED}" rel="external">{L_SEARCH_UNANSWERED}</a>
</li>
<li>
<a href="{U_SEARCH_ACTIVE_TOPICS}" rel="external">{L_SEARCH_ACTIVE_TOPICS}</a>
</li>
<!-- ENDIF -->
<li>
<a href="{U_SWITCH_TO_DESKTOP_STYLE}" rel="external">{L_SWITCH_TO_DESKTOP_STYLE}</a>
</li>
</ul>
</div>