<!-- INCLUDE overall_header.html -->
</div>
<hr />
<div>
{L_LOGIN}
<br />
{L_LOGIN_FORUM}
<!-- IF LOGIN_ERROR -->
<br />
{LOGIN_ERROR}
<!-- ENDIF -->
<form id="login_forum" method="post" action="{S_LOGIN_ACTION}">
{S_FORM_TOKEN}
<label for="password">{L_PASSWORD}{L_COLON}</label>
<br />
<input type="password" id="password" name="password" size="25" placeholder="{L_PASSWORD}" />
<br />
<input type="submit" name="login" id="login" value="{L_LOGIN}" />
{S_LOGIN_REDIRECT}
{S_HIDDEN_FIELDS}
</form>
<!-- INCLUDE overall_footer.html -->
