<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8">
{META}
<!-- IF M_MODE ne 'option' -->
<title>{PAGE_TITLE}</title>
<!-- ELSE -->
<title>{L_OPTIONS}</title>
<!-- ENDIF -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style type="text/css">
img { max-width: 100%; height: auto; }
</style>
</head>
<body>
<div>
<!-- IF M_MODE ne 'option' -->
<a href="{U_OPTIONS}">{L_OPTIONS}</a>
&nbsp;
{PAGE_TITLE}
<!-- ELSE -->
{L_OPTIONS}
<!-- ENDIF -->
<!-- IF M_MODE ne 'option' -->
<!-- INCLUDE personal_header.html -->
<!-- INCLUDE navbar_header.html -->
<!-- ENDIF -->
