</div>
<hr />
<div>
<!-- IF S_REGISTERED_USER -->
<!-- IF S_DISPLAY_PM -->
<a href="{U_PRIVATEMSGS}">{L_PRIVATE_MESSAGES} [ {PRIVATE_MESSAGE_COUNT} ]</a>
<br />
<!-- ENDIF -->
<!-- ELSE -->
<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
<a href="{U_REGISTER}">{L_REGISTER}</a>
<br />
<!-- ENDIF -->
<!-- ENDIF -->
<a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a>
<!-- IF S_DISPLAY_SEARCH -->
<!-- IF S_REGISTERED_USER -->
<br />
<a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a>
<!-- ENDIF -->
<!-- IF S_USER_LOGGED_IN -->
<br />
<a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a>
<!-- ENDIF -->
<!-- IF S_LOAD_UNREADS --> 
<br />
<a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a>
<!-- ENDIF -->
<br />
<a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a>
<br />
<a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a>
<!-- ENDIF -->
<br />
<a href="{U_SWITCH_TO_DESKTOP_STYLE}">{L_SWITCH_TO_DESKTOP_STYLE}</a>
