<!-- INCLUDE ucp_header.html -->
<!-- INCLUDE ucp_pm_message_header.html -->
</div>
<hr />
<div>
<!-- IF U_DELETE or U_EDIT or U_QUOTE or U_REPORT -->
<!-- IF U_EDIT -->
<a href="{U_EDIT}">{L_POST_EDIT_PM}</a>
&nbsp;
<!-- ENDIF -->
<!-- IF U_DELETE -->
<a href="{U_DELETE}">{L_DELETE_MESSAGE}</a>
&nbsp;
<!-- ENDIF -->
<!-- IF U_REPORT -->
<a href="{U_REPORT}">{L_REPORT_PM}</a>
&nbsp;
<!-- ENDIF -->
<!-- IF U_QUOTE -->
<a href="{U_QUOTE}">{L_POST_QUOTE_PM}</a>
<!-- ENDIF -->
<br />
<!-- ENDIF -->
{SUBJECT}
<br />
{L_SENT_AT}{L_COLON} {SENT_DATE}
<br />
{L_PM_FROM}{L_COLON} <a href="{U_MESSAGE_AUTHOR}">{MESSAGE_AUTHOR}</a>
<!-- IF S_TO_RECIPIENT -->
<br />
{L_TO}{L_COLON}
<!-- BEGIN to_recipient -->
&nbsp;
<a href="{to_recipient.U_VIEW}">{to_recipient.NAME}</a>
<!-- END to_recipient -->
<!-- ENDIF -->
<!-- IF S_BCC_RECIPIENT -->
<br />
{L_BCC}{L_COLON}
<!-- BEGIN bcc_recipient -->
&nbsp;
<a href="{bcc_recipient.U_VIEW}">{bcc_recipient.NAME}</a>
<!-- END bcc_recipient -->
<!-- ENDIF -->
<br />
{MESSAGE}
<!-- IF EDITED_MESSAGE or EDIT_REASON -->
<br />
<br />
{EDITED_MESSAGE}
<!-- IF EDIT_REASON -->
<br />
{L_REASON}{L_COLON} {EDIT_REASON}
<!-- ENDIF -->
<!-- ENDIF -->
<!-- IF S_VIEW_MESSAGE -->
</div>
<hr />
<div>
<!-- IF U_PREVIOUS_PM -->
<a href="{U_PREVIOUS_PM}">{L_VIEW_PREVIOUS_PM}</a>
<!-- ENDIF -->
<!-- IF U_PREVIOUS_PM and U_NEXT_PM -->
&nbsp;
<!-- ENDIF -->
<!-- IF U_NEXT_PM -->
<a href="{U_NEXT_PM}">{L_VIEW_NEXT_PM}</a>
<!-- ENDIF -->
<!-- ENDIF -->
<!-- INCLUDE ucp_footer.html -->
