<!-- INCLUDE overall_header.html -->
</div>
<hr />
<div>
<!-- IF ( not S_IS_BOT and S_DISPLAY_REPLY_INFO ) or ( ( .pagination or TOTAL_POSTS ) and ( U_VIEW_UNREAD_POST and not S_IS_BOT ) ) -->
<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
<a href="{U_POST_REPLY_TOPIC}"><!-- IF S_IS_LOCKED -->{L_BUTTON_TOPIC_LOCKED}<!-- ELSE -->{L_BUTTON_POST_REPLY}<!-- ENDIF --></a>
<!-- ENDIF -->
<!-- IF .pagination or TOTAL_POSTS -->
<!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT -->
&nbsp;
<a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a>
<!-- ENDIF -->
<!-- ENDIF -->
<br />
<!-- ENDIF -->
{TOPIC_TITLE}
<!-- BEGIN postrow -->
</div>
<hr />
<div id="p{postrow.POST_ID}">
<!-- IF postrow.S_POST_HIDDEN -->
<!-- IF postrow.S_POST_DELETED -->
{postrow.L_POST_DELETED_MESSAGE}
<br />
<br />
<!-- ELSEIF postrow.S_IGNORE_POST -->
{postrow.L_IGNORE_POST}
<br />
<br />
<!-- ENDIF -->
<!-- ENDIF -->
<!-- IF not S_IS_BOT -->
<!-- IF postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE -->
<!-- IF postrow.U_EDIT -->
<a href="{postrow.U_EDIT}">{L_BUTTON_EDIT}</a>
&nbsp;
<!-- ENDIF -->
<!-- IF postrow.U_DELETE -->
<a href="{postrow.U_DELETE}">{L_DELETE_POST}</a>
&nbsp;
<!-- ENDIF -->
<!-- IF postrow.U_REPORT -->
<a href="{postrow.U_REPORT}">{L_REPORT_POST}</a>
&nbsp;
<!-- ENDIF -->
<!-- IF postrow.U_QUOTE -->
<a href="{postrow.U_QUOTE}">{L_QUOTE}</a>
<!-- ENDIF -->
<br />
<!-- ENDIF -->
<!-- ENDIF -->
{postrow.POST_SUBJECT}
<br />
<!-- IF postrow.U_POST_AUTHOR -->
{L_POST_BY_AUTHOR} <a href="{postrow.U_POST_AUTHOR}">{postrow.POST_AUTHOR}</a> &raquo; {postrow.POST_DATE}
<!-- ELSE -->
{L_POST_BY_AUTHOR} <strong>{postrow.POST_AUTHOR}</strong> &raquo; {postrow.POST_DATE}
<!-- ENDIF -->
<br />
{postrow.MESSAGE}
<!-- END postrow -->
<!-- IF .pagination or TOTAL_POSTS -->
<!-- IF .pagination -->
<!-- INCLUDE pagination.html -->
<!-- ELSE -->
<!-- ENDIF -->
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->
